:root {
	--primary_color: #0065fc;
	--secondary_color: #deebff;
	--third_color: #f2f2f2;
	--fourth_color: #d9d9d9; /* third color is too light */
}

/* reset */

* {
	color: black;
	font-family: Raleway, serif;
}
body {
	margin: 0;
}

li,
ul,
a,
figure {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	text-decoration: none;
	display: block;
}
button {
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}
em {
	font-style: normal;
}

/* font size */

h1,
h2 {
	font-size: 1.35rem;
}

.search span,
.search input,
.search button,
h4,
.filters ul li button {
	font-size: 1.1rem;
	font-weight: 700;
}
.info {
	font-size: 1rem;
}

/* all imgs */

img {
	display: block;
	object-fit: cover;
	object-position: center auto;
	max-width: 100%;
	max-height: 100%;
}

/* size and gutters for all page */

.main_header,
main,
.footer_container {
	margin: auto;
	max-width: 1440px;
	padding: 0 3.5rem;
}


/* ----------------- HEADER */

.main_header {
	height: 115px;
	display: flex;
}
.logo,
.suscribe,
.main_header nav ul li {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* logo Reservia */

.logo {
	margin-right: auto; /* push the logo on the left side with flex */
}
.logo img {
	max-width: none; /* not resizable */
}

/* Navigation */

.main_header nav ul {
	height: 100%;
	display: flex;
}
.main_header nav ul li {
	width: 162px;
	border-top: 2px solid transparent; /* to fix the :hover border */
}
.main_header nav ul li:hover {
	border-top: 2px solid var(--primary_color);
}
.main_header nav ul li:hover a {
	color: var(--primary_color);
}
.suscribe {
	padding: 1.25rem;
	color: var(--primary_color);
	font-weight: 700;
}

/* ----------------- MAIN */

main {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}
h2 {
	margin: 1.563rem 0;
}
/* -------- ARTICLE Search & Filters */

.search_filter {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.search_filter h1 {
	margin: 0.5rem 0;
}
.search_filter p {
	margin: 0;
}

/* --- Search Form */

form {
	align-self: flex-start;
	height: 3rem;
}
.search {
	display: flex;
	height: 100%;
	border-radius: 16px;
	overflow: hidden;
	border: 1px solid var(--third_color);
}
.search span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.125rem;
	background-color: var(--third_color);
}
.search input {
	border: none;
	padding: 0 1rem;
	width: 14.5rem;
}
.search input:focus {
	outline: none;
}
.search button {
	background-color: var(--primary_color);
	color: white;
	padding: 0 1rem;
}
.search button:hover {
	opacity: 0.8;
}

/* --- Filter Section */

.filters {
	display: flex;
	gap: 2rem;
	padding: 0.5rem;
}
.filters h4 {
	margin: 0;
	line-height: 3.125rem;
}
.filters ul {
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	gap: 2rem;
}
.filters ul li {
	position: relative; /* in order to put the icon over the border of the button */
}

.filters ul li button {
	height: 3.125rem;
	padding: 0 1.2rem 0 3.5rem; /* right and left */
	border-radius: 70px;
	border: 2px solid var(--fourth_color);
}
/* on hover */
.filters ul li button:hover {
	background-color: var(--primary_color);
	border-color: var(--primary_color);
	color: white;
	transition: all 0.2s ease-out;
}
.filters ul li button:hover::before {
	background-color: var(--primary_color);
	color: var(--secondary_color);
	transition: all 0.2s ease-out;
}

/* -- info */

.info {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}
.info::before {
	content: "\f129";
	font-size: 0.7rem;
	color: var(--primary_color);
	border: 1px solid var(--fourth_color);
	width: 1.438rem;
	height: 1.438rem;
}

/* Icons filter */

.economic::before {
	content: "\f53a";
}
.family::before {
	content: "\f1ae";
}
.romantic::before {
	content: "\f004";
}
.animal_allowed::before {
	content: "\f6d3";
}
.filters ul li button::before,
.info::before {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Font Awesome 5 Free";
	font-style: normal; /* fontawesome recommendation */
	font-variant: normal; /* fontawesome recommendation */
	text-rendering: auto; /* fontawesome recommendation */
	font-weight: 900;
	border-radius: 50%;
}
.filters ul li button::before {
	position: absolute; /* in order to put the icon over the border of the button */
	left: 0;
	top: 0;
	width: 3.125rem;
	height: 3.125rem;
	color: var(--primary_color);
	background-color: var(--secondary_color);
}

/* -------- ARTICLE Lodgins */

#lodgings {
	display: flex;
	flex-wrap: wrap-reverse;
	gap: 2rem;
}
.main_lodgings header h2,
.popular_lodgings h2 {
	margin-top: 0;
}
.main_lodgings,
.popular_lodgings {
	background-color: var(--third_color);
	border-radius: 20px;
	padding: 2.5rem;
}
.main_lodgings ul li,
.popular_lodgings ul li {
	background-color: white;
	border-radius: 20px;
	padding: 0.3rem;
	box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.08);
}
.main_lodgings ul li:hover,
.popular_lodgings ul li:hover {
	box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.15);
}
.lodging_card div h3,
.popular_card div h3 {
	font-size: 1rem;
	margin: 0;
}
.lodging_card div,
.popular_card div {
	padding: 0.6rem;
}
.lodging_card div p,
.popular_card div p {
	font-size: 0.95rem;
	margin: 0.2rem 0;
}
.lodging_card div span,
.popular_card div span {
	font-size: 0.8rem;
}

/* --- Main Lodgings */

.main_lodgings {
	flex: 3;
	min-width: 50%;
}
.main_lodgings ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-auto-rows: 12.7rem;
	gap: 2rem;
}
.main_lodgings ul li a {
	border-radius: 17px;
	overflow: hidden;
	height: 100%;
}

/* - Lodgings Cards */

.lodging_card {
	display: flex;
	flex-direction: column-reverse;
	height: 100%;
}
.lodging_card div {
	height: 5rem;
	flex: 1;
}
.lodging_card div h3 {
	margin-top: 0;
}
.lodging_card img {
	min-height: 0; /* to fix the auto min-height with flex */
	min-width: 0; /* to fix the auto min-width with flex */
	flex: 2;
}

/* button see more */

.see_more {
	padding: 0;
	font-size: 1.1rem;
	font-weight: bold;
	padding-top: 2.5rem;
}
.see_more:hover {
	color: var(--primary_color);
}

/* --- Aside : Popular lodgings */

.popular_lodgings {
	display: flex;
	flex-direction: column;
}
.popular_lodgings h2 {
	display: flex;
}

.popular_lodgings ul {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 21rem;
}

/* Popular Icon */

.popular_lodgings h2::after {
	content: "\f201";
	display: block;
	font-style: normal;
	font-variant: normal;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	text-rendering: auto;
	margin-left: auto;
}

/* - Popular Cards */

.popular_card {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end; /* "end" because of the row-reverse */
	height: 9rem;
}
.popular_card div {
	display: flex;
	flex-direction: column;
}
.popular_card div span {
	margin-top: auto;
}
.popular_card img {
	border-radius: 20px 0 0 20px;
	width: 8rem;
}

/* Stars */

.full {
	color: var(--primary_color);
}
.empty {
	color: var(--fourth_color);
}

/* ---- ARTICLE Activities */

/* Layout activities */

.activities_list {
	display: grid;
	grid-template-columns: repeat(4, minmax(15rem, 1fr));
	column-gap: 2.5rem;
	grid-template-rows: repeat(2, 14.75rem);
}

/* 1 & 4 ...activities */
.activities_list li:nth-child(3n + 1) {
	grid-row: 1 / 3;
}
/* 2 & 5 ...activities*/
.activities_list li:nth-child(3n + 2) {
	grid-row: 1 / 2;
}
/* 3 & 6 ...activities */
.activities_list li:nth-child(3n + 3) {
	grid-row: 2 / 3;
}
/* 3rd activity */
.activities_list li:nth-child(3) {
	margin-top: 2.5rem; /* row gap  */
}
/* 5th activity */
.activities_list li:nth-child(5) {
	margin-bottom: 2.5rem; /* row gap */
}
.activities_list li a {
	height: 100%;
}

/* -- Activity card */

.activities_card {
	display: flex;
	flex-direction: column;
	border-radius: 25px;
	overflow: hidden;
	height: 100%;
	box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.08);
	transition: all 0.2s ease-out;
}
.activities_card:hover {
	transform: scale(1.05);
}
.activities_card img {
	min-height: 0; /* to fix the auto min-height with flex */
	min-width: 0; /* to fix the auto min-width with flex */
	flex: 1;
}
.activities_card figcaption h3 {
	margin: 0;
	font-size: 1rem;
	padding: 1.16rem 1rem;
}

/* ------------ FOOTER */

footer {
	margin-top: 2.5rem;
	background-color: var(--third_color);
}
.footer_container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding-top: 1rem;
	padding-bottom: 3rem;
}

/* ---- Footer sections */

footer section {
	flex: 1 1 300px;
}
footer section ul li {
	margin: 0.8rem 0;
}
footer a {
	white-space: nowrap;
}
footer section ul li a:hover {
	color: var(--primary_color);
}


/* ------------------ MEDIA QUERY ------------------ */

/* -------------- for responsive ACTIVITIES */

@media screen and (max-width: 1210px) {
	.activities_list {
		display: grid;
		grid-template-columns: repeat(3, minmax(12rem, 1fr));
		grid-template-rows: repeat(2, 12rem) 20.25rem;
		column-gap: 3%;
	}
	/* 3rth activity */
	.activities_list li:nth-child(3) {
		margin-top: 2rem; /* row gap  */
	}
	/* 5th activity */
	.activities_list li:nth-child(5) {
		margin-bottom: 2rem; /* row gap */
	}
	.activities_list li:nth-child(5),
	.activities_list li:nth-child(6) {
		margin: 0;
		margin-top: 2rem; /* row gap */
		grid-row: 3 / 4;
	}
	/* 5th activity */
	.activities_list li:nth-child(5) {
		grid-column: 1 / 2;
	}
	/* 6th activity */
	.activities_list li:nth-child(6) {
		grid-column: 2 / span 2;
	}
}


/* -------------- TABLET  vertical*/

@media screen and (max-width: 768px) and (min-width: 481px) {

    /* gutters for all page - tablet */

	main {
		padding: 0;
	}
	.main_header,
	.search_filter,
	#activities {
		padding: 0 3rem;
	}

    /* ----------------- HEADER - tablet */

    /* Navigation - tablet */

	.main_header nav ul li,
	.suscribe {
		width: auto;
		padding: 1.2rem;
	}

    /* ----------------- MAIN - tablet*/

    /* --- Filter Section - tablet*/

	.filters ul {
		gap: 1rem;
	}

    /* --- Main Lodgings */

	.main_lodgings {
		border-radius: 0;
	}
    
    /* --- Aside : Popular lodgings - tablet */

    .popular_lodgings {
		margin: 0 3rem;
	}
    
    /* ---- ARTICLE Activities - tablet */

    /* Layout activities - tablet */

    .activities_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 12rem) 20.25rem;
        column-gap: 3%;
    }
    .activities_list li:first-child {
        grid-column: span 2;
    }
    /* 2th and 3rd activities - tablet */
    .activities_list li:nth-child(2),
    .activities_list li:nth-child(3) {
        grid-column: 3/4;
    }
    /* 4th activity - tablet */
    .activities_list li:nth-child(4) {
		margin: 0;
		margin-top: 2rem; /* row gap */
		grid-row: 3 / 4;
	}
    /* 6th activity - tablet */
	.activities_list li:nth-child(6) {
		grid-column: 3 / 4;
	}
}


/* -------------- MOBILE */

@media screen and (max-width: 480px) {

	/* font size - mobile */

	h1,
	h2 {
		font-size: 1.4rem;
	}
	.filters ul li button {
		font-size: 1rem;
	}

    /* size and gutters for all page - mobile*/

	.main_header,
	main,
	.footer_container {
		padding: 0;
	}

	/* ----------------- HEADER - mobile  */

	.main_header {
		height: 130px;
		flex-wrap: wrap;
	}

	/* logo Reservia - mobile */

	.logo {
		padding: 1rem;
	}

	/* Navigation - mobile */

	.main_header nav {
		order: 3;
		width: 100%;
	}
	.suscribe {
		width: auto;
		order: 2;
		padding: 1rem;
	}
	.main_header nav ul li {
		width: 100%;
	}
	.main_header nav ul li {
		border-top: none;
		border-bottom: 3px solid;
	}
	.main_header > nav ul li:first-child {
		border-color: var(--primary_color);
	}
	.main_header > nav ul li:last-child {
		border-color: var(--third_color);
	}
	.main_header nav ul li:first-child a {
		color: var(--primary_color);
	}
	.main_header a {
		align-self: stretch; /* to expend the clickable area */
		width: inherit; /* to expend the clickable area */
		text-align: center;
	}

    /* ----------------- MAIN - mobile */

	main {
		gap: 0;
	}

	/* -------- ARTICLE Search & Filters - mobile */

	.search_filter {
		padding: 1.2rem;
	}

	/* --- Search Form - mobile */

	form {
		align-self: stretch;
	}
	.search {
		width: 100%;
	}
	.search input {
		flex: 2;
	}
	.search button {
		font-size: 0; /* make the txt "recherche" disappear */
		overflow: hidden;
		color: transparent;
		border-radius: 16px;
	}
	.search button:after {
		content: "\f002";
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		font-style: normal;
		font-variant: normal;
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		text-rendering: auto;
		color: white;
	}

	/* --- Filter Section - mobile */

	.filters {
		flex-direction: column;
		gap: 0;
		padding: 0;
	}
	.filters ul {
		gap: 0.8rem;
	}

	/* -- info - mobile */

	.info::before {
		align-self: flex-start;
	}

	/* -------- ARTICLE Lodgins - mobile */

	#lodgings {
		gap: 0;
	}
	.main_lodgings,
	.popular_lodgings {
		width: 100%;
		padding: 2.5rem 1.25rem;
		border-radius: 0;
	}

	/* --- Main Lodgings - mobile */

	.main_lodgings {
		background-color: white;
	}
	.main_lodgings ul {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	/* - Lodgings Cards card */

	.lodging_card {
		height: 12.2rem;
	}
	.lodging_card img {
		height: 9rem;
	}
	.lodging_card div {
		font-size: 14px;
	}

    /* --- Aside : Popular lodgings - mobile */

	.popular_lodgings ul {
		gap: 1rem;
		width: auto;
	}

	/* - Popular Cards - mobile */

	.popular_card {
		height: 9rem;
	}
	.popular_card div {
		font-size: 14px;
	}

    /* Stars - mobile*/

	#lodgings i {
		font-size: 0.8rem;
	}

	/* ---- ARTICLE Activities - mobile */

	#activities {
		margin: 0 1rem 3rem 1rem;
		padding: 0;
	}

    /* Layout activities - mobile */

	.activities_list {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
    /* 3 & 5 ...activities - mobile */
	.activities_list li:nth-child(3),
	.activities_list li:nth-child(5) {
		margin: 0;
	}

    /* -- Activity card - mobile */

	.activities_card {
		height: 12rem;
	}
	.activities_card figcaption h3 {
		padding: 1rem;
	}

	/* ------------ FOOTER - mobile */

	footer {
		margin: 0;
		padding: 1.25rem;
	}
}
