:root {
	--primary_color: #0065fc;
	--secondary_color: #deebff;
	--third_color: #f2f2f2;
	--fourth_color: #d9d9d9; /* third color is too light */
	--gutters: 0 5% 0 5%;
}

/* reset */

* {
	color: black;
	font-family: Raleway, serif;
}
body {
	margin: 0;
}

li,
ul,
a,
figure {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	text-decoration: none;
	display: block;
}
button {
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

/* font size*/

h1,
h2 {
	/* font-size: 1.4rem; */
}
.search span,
.search input,
.search button,
h4,
.filters ul li button {
    font-size: 1.1rem;
	font-weight: 700;
}
.info {
 	font-size: 1rem;
}

/* all imgs */

img {
	display: block;
	object-fit: cover;
	object-position: center center;
	max-width: 100%;
	max-height: 100%;
	min-height: 0; /* to fix the auto min-height with flex */
	min-width: 0; /* to fix the auto min-width with flex */
}

/* ------------ HEADER */

.main_header {
	margin: var(--gutters);
    display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.logo {
	margin-right: auto; /* push the logo on the left side with flex */
}
.logo img {
	max-width: none;
}
.main_header nav ul {
	display: flex;
}

/* Navigation */

.suscribe,
.main_header nav ul li {
	padding: 3.5rem 2rem;
}

.main_header nav ul li {
	border-top: 2px solid transparent; /* to fix the :hover border */
}
.main_header nav ul li:hover {
	border-top: 2px solid var(--primary_color);
}
.main_header nav ul li:hover a {
	color: var(--primary_color);
}
.suscribe {
	color: var(--primary_color);
	font-weight: 700;
}

/* ------------ MAIN */

/* ---- SECTION Search & Filters */

.search_filter {
    margin: var(--gutters);
}
/* -- Search */
form {
    display: inline-block;
}
.search {
	display: flex;
    border-radius: 15px;
    overflow: hidden;
}
.search > * {
	padding: 0.8rem 1.2rem;
}
.search span {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--third_color);
	/* border-radius: 15px 0 0 15px; */
}
.search input {
	border: 1px solid var(--third_color);
}
.search input:focus {
	outline: none;
}
.search button {
	background-color: var(--primary_color);
	color: white;
	/* border-radius: 0 15px 15px 0; */
}

/* -- Filters */

.filters {
	display: flex;
	gap: 1rem;
}
.filters h4 {
	margin: 0;
	line-height: 3.125rem;
}
.filters ul {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

/* Icons filter */

.filters ul li {
	position: relative; /* in order to put the icon over the border of the button */
}
.economic::before {
	content: "\f53a";
}
.family::before {
	content: "\f1ae";
}
.romantic::before {
	content: "\f004";
}
.animal_allowed::before {
	content: "\f6d3";
}
.filters ul li button::before {
	position: absolute; /* in order to put the icon over the border of the button */
	left: 0;
	top: 0;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: var(--primary_color);
	text-rendering: auto;
	background-color: var(--secondary_color);
	border-radius: 50%;
	width: 3.125rem;
	line-height: 3.125rem;
}
.filters ul li button {
	height: 3.125rem;
	padding: 0 1.2rem 0 3.5rem;
	border-radius: 70px;
	border: 2px solid var(--fourth_color);
}
.filters ul li button:hover {
	background-color: var(--primary_color);
	border-color: var(--primary_color);
	color: white;
	transition: all 0.2s ease-out;
}
.filters ul li button:hover::before {
	background-color: var(--primary_color);
	color: var(--secondary_color);
	transition: all 0.2s ease-out;
}
/* -- info */

.info::before {
	content: "\f129";
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 0.7rem;
	text-rendering: auto;
	color: var(--primary_color);
	border: 1px solid var(--fourth_color);
	margin-right: 0.5rem;
	width: 1.438rem;
	line-height: 1.438rem;
	border-radius: 50%;
	text-align: center;
}

/* ---- ARTICLE Lodgins */

#lodgings {
	display: flex;
	flex-wrap: wrap-reverse;
	gap: 2rem;
    margin: var(--gutters);
}
.main_lodgings header h2,
.popular_lodgings h2 {
	margin-top: 0;
}
.main_lodgings,
.popular_lodgings {
	background-color: var(--third_color);
	border-radius: 25px;
	padding: 2.5rem;
}
.main_lodgings ul li,
.popular_lodgings ul li {
	background-color: white;
	border-radius: 25px;
	padding: 8px;
	box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.08);
}
.main_lodgings ul li:hover,
.popular_lodgings ul li:hover {
	box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.15);
}
.lodging_card div h3,
.popular_card div h3 {
	margin: 0;
}

/* -- Main Lodgings */

.main_lodgings {
	flex: 3;
}
.main_lodgings ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-auto-rows: auto;
	gap: 2rem;
}

/* - Lodgings Cards */

.lodging_card {
	display: flex;
	flex-direction: column-reverse;
}
.lodging_card div {
	padding: 1rem;
}
.lodging_card div h3 {
	margin-top: 0;
}
.lodging_card img {
	border-radius: 20px 20px 0 0;
	height: 10rem;
}

/* button see more */

.see_more {
	padding: 0;
	font-size: 1.1rem;
	font-weight: bold;
	padding-top: 2.5rem;
}

/* -- Aside Popular lodgings */

.popular_lodgings {
	flex: 1;
	min-width: 18rem;
	display: flex;
	flex-direction: column;
}
.popular_lodgings h2 {
	display: flex;
}

.popular_lodgings ul {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* Popular Icon */

.popular_lodgings h2::after {
	content: "\f201";
	display: block;
	font-style: normal;
	font-variant: normal;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	text-rendering: auto;
	margin-left: auto;
}

/* - Popular Cards */

.popular_card {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end; /* "end" because of the row-reverse */
	height: 12.063rem;
}
.popular_card div {
	display: flex;
	flex-direction: column;
	padding: 1rem 1.5rem;
	flex: 1;
}
.popular_card div span {
	margin-top: auto;
}
.popular_card img {
	border-radius: 20px 0 0 20px;
	flex: 1;
}

/* Stars */

.full {
	color: var(--primary_color);
}
.empty {
	color: var(--fourth_color);
}

/* ---- ARTICLE Activities */

#activities {
    margin: var(--gutters);
	padding: 2rem 0;
}
.activities_list {
	display: grid;
	grid-template-columns: repeat(4, minmax(15.625rem, 1fr));
	column-gap: 3%;
	grid-template-rows: repeat(2, 20rem);
}
/* 1 & 4 ...activities */
.activities_list li:nth-child(3n + 1) {
	grid-row: 1 / 3;
}
/* 2 & 5 ...activities*/
.activities_list li:nth-child(3n + 2) {
	grid-row: 1 / 2;
}
/* 3 & 6 ...activities */
.activities_list li:nth-child(3n + 3) {
	grid-row: 2 / 3;
}
/* 3rth activity */
.activities_list li:nth-child(3) {
	margin-top: 4rem;
}
/* 5th activity */
.activities_list li:nth-child(5) {
	margin-bottom: 4rem;
}
.activities_list li a {
	height: 100%;
}

/* -- Activity card */

.activities_card {
	display: flex;
	flex-direction: column;
	border-radius: 25px;
	overflow: hidden;
	height: 100%;
	box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.08);
	transition: all 0.2s ease-out;
}
.activities_card:hover {
	transform: scale(1.05);
}
.activities_card img {
	min-height: 0; /* to fix the auto min-height with flex */
	min-width: 0; /* to fix the auto min-width with flex */
	flex: 1;
}
.activities_card figcaption h3 {
	margin: 0;
	padding: 2rem 1rem;
}

/* ------------ FOOTER */

footer {
	background-color: var(--third_color);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: var(--gutters);
}
/* ---- Footer sections */

footer section {
	padding: 2rem 0;
	width: 33%;
}
footer section ul li {
	margin: 1rem 0;
}
footer section ul li a:hover {
    color: var(--primary_color);
}