:root {
	--primary_color: #0065fc;
	--secondary_color: #deebff;
	--third_color: #f2f2f2;
	--border_color: #d9d9d9;
}
/* reset */
* {
	color: black;
	font-family: Raleway, serif;
}
body {
	margin: 0 4rem 0 4rem;
}
li,
ul,
a,
figure {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	text-decoration: none;
	display: block;
}
button {
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}
/* font size*/
h1,
h2 {
	font-size: 1.4rem;
}
.search span,
.search input,
.search button,
h4,
.filters ul li button {
	font-size: 1.1rem;
	font-weight: 700;
}
.info {
	font-size: 1rem;
}

/* ------------Header */
/* ---- Top Header */
.header_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	flex-grow: 1;
}
.header_top nav ul {
	display: flex;
}
.suscribe,
.header_top nav ul li {
	padding: 3.5rem 2rem;
}
/* Nav */
.header_top nav ul li {
	border-top: 2px solid transparent; /* to fix the :hover border */
}
.header_top nav ul li:hover {
	border-top: 2px solid var(--primary_color);
}
.header_top nav ul li:hover a {
	color: var(--primary_color);
}
.suscribe {
	color: var(--primary_color);
	font-weight: 700;
}
/* ---- Search & Filters */
/* Search */
.search {
	display: flex;
}
.search span {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.8rem 1.2rem;
	background-color: var(--third_color);
	border-radius: 15px 0 0 15px;
}
.search input {
	padding: 0.8rem;
	border: 1px solid var(--third_color);
}
.search button {
	padding: 0.8rem 1.2rem;
	background-color: var(--primary_color);
	color: white;
	border-radius: 0 15px 15px 0;
}
/* Filters */
.filters {
	display: flex;
	gap: 1rem;
}
.filters h4 {
	margin: 0;
	line-height: 50px;
}
.filters ul {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
/* Icons filter */
.filters ul li {
	position: relative; /* in order to put the icon over the border of the button */
}
.economic::before {
	content: "\f53a";
}
.family::before {
	content: "\f1ae";
}
.romantic::before {
	content: "\f004";
}
.animal_allowed::before {
	content: "\f6d3";
}
.filters ul li button::before {
	position: absolute; /* in order to put the icon over the border of the button */
	left: 0;
	top: 0;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: var(--primary_color);
	text-rendering: auto;
	background-color: var(--secondary_color);
	border-radius: 50%;
	width: 50px;
	line-height: 50px;
}
.filters ul li button {
	height: 50px;
	padding: 0 1.2rem 0 3.5rem;
	border-radius: 70px;
	border: 2px solid var(--border_color);
}
/* --- info */
.info::before {
	content: "\f129";
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 0.7rem;
	color: var(--primary_color);
	text-rendering: auto;
	border: 1px solid var(--border_color);
	margin-right: 1rem;
	width: 23px;
	line-height: 23px;
	border-radius: 50%;
	text-align: center;
}
